<div id="clientes" class="hidden">
  <h1>Clientes</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th name="email">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Marcelo Benedito</td>
        <td name="email">marcelo&#64;curso.com.rb</td>
      </tr>
      <tr>
        <td>2</td>
        <td>José da Silva</td>
        <td name="email">jose&#64;curso.com.rb</td>
      </tr>
      <tr>
        <td>3</td>
        <td>João Paulo</td>
        <td name="email">jpaulo&#64;curso.com.rb</td>
      </tr>
    </tbody>
  </table>
</div>
